* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
body {
    background-color: #fafafa;
}
.main__right img {
    /* height: 75vh; */
    height: auto;
    max-height: 70vh;
    /* width: auto; */
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
    /* gap: 15%; */
}
.header__logo {
    font-size: 36px;
}
#header__menu {
    display: flex;
    gap: 50px;
    /* flex-wrap: wrap; */
}
#header__menu p {
    text-decoration: none;
    font-size: 14px;
    color: rgb(74, 74, 74);
    margin-right: 5px;
}
#header__menu li {
    display: inline-block;
    /* margin-right: 36px; */
    /* min-width: 100px; */
}
#header__menu p:hover {
    color: rgb(0, 0, 0);
}
.header__left {
    display: flex;
    align-items: center;
    gap: 10vh;
}
.header__buttons {
    display: flex;
    align-items: center;
    gap: 3vh;
}
.header__login {
    height: 40px;
    width: 100px;
    border-radius: 14px;
    border: none;
    background-color: transparent;
    color: rgb(42, 42, 42);
}
.header__register {
    height: 40px;
    width: 100px;
    border-radius: 14px;
    border: 2px solid;
    background-color: transparent;
    color: rgb(42, 42, 42);
}
.header__buttons button:hover {
    border: 2px solid black;
}
.feauters__box-content {
    position:absolute;
    z-index: 2;
    border: 1px solid;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 15vh;
    top: 5vh;
    display: none;
}
.feauters__box-content div {
    display: flex;
    padding: 7px;
    /* padding-bottom: 10px; */
    gap: 10px;
    font-size: 14px;
}
.feauters__box-content img {
    height: 16px;
    width: 16px;
}

/* FIN Header Styles */
main {
    display: grid;
    grid-template-columns: 60% 40%;
    /* margin-top: 50px; */
    padding: 0 2%;
}
.main__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__learn {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    height: 6vh;
    width: 18vh;
    border-radius: 15px;
    border: none;
    
}
.main__learn:hover {
    color: black;
    background-color: white;
    border: 2px solid;
}
.main__tittle {
    font-size: 85px;
    font-weight: bold;
    padding-top: 20px;
}
.main__paragraph {
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(101, 101, 101);
    padding-top: 40px;
    padding-bottom: 40px;
}
.main__left--down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button__container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main__down {
    /* border: 1px solid; */
    align-self: flex-start;
}
.button__learn {
    padding-bottom: 90px;
}
.main__sponsors {
    display: flex;
    justify-content: space-around;
}
.main__right img {
    max-width: 100%;
    /* max-height: 100%; */
}
.header__iconmenu,
.menu__close {
    display: none;
}
.header__menu div{
    display: flex;
    flex-direction: row;
}
.select__feauters {
    display: flex;
    padding-bottom: 15px;
}
.select__container.invisible {
    display: none;
}
.feauters__img {
    display: flex;
    align-items: center;
}
.header__li-company div {
    display: flex;
    align-items: center;
}
.select__container {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    position: absolute;
    /* padding: 25px; */
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    box-shadow:
    0 0 10px rgba(0, 0, 0, 0.2);
    top: 7vh;
    left: 15.5vh;
    /* visibility: hidden; */
    display: none;
}

.select__container img {
    height: 16px;
    width: 16px;
}
.select__container-item {
    display: flex;
    gap: 10px;
}
.select__container.activar {
    display: flex;
}

  
/* Inicio Responsive */
@media (max-width: 950px) {
    main {
      display: flex;
      flex-direction: column;
      transition: 0.4s;
    }
    .main__right {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    
}
/* Inicio Versión Celular */
@media (max-width: 880px) {
    .select__container.visible {
        /* display: none; */
        top: 0px;
        position: initial;
        box-shadow: none;
        background-color: #fafafa;
        width: min-content;
    }
    main {
        flex-direction: column-reverse;
    }
    .main__right img {
        content: url(images/image-hero-mobile.png);
        height: auto;
    }
    .header__left {
        flex-direction: column;
        gap: 0;
    }
    .header__nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fafafa;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        /* padding: 7vh; */
        transition: 0.3s;
        /* width: max-content; */
    }
    .header__nav.visible {
        opacity: 1;
        visibility: visible;
        padding: 85px;
        transform: 0.2s;
        /* padding: unset; */
    }
    #header__nav img {
        display: none;
    }
    #header__menu {
        flex-direction: column;
        align-self: start;
        gap: 5vh;
        padding: -7px;
    }
    .none_menu img {
        display: none;
    }
    .header__buttons {
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }
    .header__iconmenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__close {
        display: block;
    }
    .main__tittle {
        font-size: 40px;
    }
    .main__tittle br {
        display: none;
    }
    .main__paragraph {
        letter-spacing: 0;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main__down {
        align-self: none;
    }
    .button__learn {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .main__sponsors img {
        height: 16px;
    }
}