* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    background-color: #fafafa;
}
.main__right img {
    height: 75vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 40px;
}
.header__logo {
    font-size: 36px;
}
#header__menu {
    display: flex;
    flex-wrap: wrap;
}
#header__menu a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(74, 74, 74);
    margin-right: 5px;
}
#header__menu li {
    display: inline-block;
    margin-right: 36px;
    min-width: 100px;
}
#header__menu a:hover {
    color: rgb(0, 0, 0);
}
.header__left {
    display: flex;
    align-items: center;
    gap: 10vh;
}
.header__buttons {
    display: flex;
    align-items: center;
    gap: 3vh;
}
.header__login {
    height: 40px;
    width: 100px;
    border-radius: 14px;
    border: none;
    background-color: transparent;
    color: rgb(42, 42, 42);
}
.header__register {
    height: 40px;
    width: 100px;
    border-radius: 14px;
    border: 2px solid;
    background-color: transparent;
    color: rgb(42, 42, 42);
}
.header__buttons button:hover {
    border: 2px solid black;
}

/* FIN Header Styles */
main {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
}
.main__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__learn {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: black;
    height: 6vh;
    width: 18vh;
    border-radius: 15px;
    border: none;
    
}
.main__learn:hover {
    color: black;
    background-color: white;
    border: 2px solid;
}
.main__tittle {
    font-size: 85px;
    font-weight: bold;
    padding-top: 20px;
}
.main__paragraph {
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(101, 101, 101);
    padding-top: 40px;
    padding-bottom: 40px;
}
.main__left--down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button__container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main__down {
    /* border: 1px solid; */
    align-self: flex-start;
}
.button__learn {
    padding-bottom: 90px;
}
.main__sponsors {
    display: flex;
    justify-content: space-around;
}
.main__right img {
    max-width: 100%;
    max-height: 100%;
}
.header__iconmenu,
.menu__close {
    display: none;
}
  
/* Inicio Responsive */
@media (max-width: 930px) {
    main {
      display: flex;
      flex-direction: column;
      transition: 0.4s;
    }
    .main__right {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    
}
/* Inicio Versión Celular */
@media (max-width: 570px) {
    main {
        flex-direction: column-reverse;
    }
    .main__right img {
        content: url(images/image-hero-mobile.png);
        height: auto;
    }
    .header__left {
        flex-direction: column;
        gap: 0;
    }
    .header__nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10vh;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fafafa;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        padding: 6vh;
        transition: 0.3s;
    }
    .header__nav.visible {
        opacity: 1;
        visibility: visible;
        transform: 0.2s;
    }
    #header__nav img {
        display: none;
    }
    #header__menu {
        flex-direction: column;
        align-self: start;
        gap: 5vh;
    }
    .none_menu img {
        display: none;
    }
    .header__buttons {
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }
    .header__iconmenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__close {
        display: block;
    }
    .main__tittle {
        font-size: 40px;
    }
    .main__tittle br {
        display: none;
    }
    .main__paragraph {
        letter-spacing: 0;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main__down {
        align-self: none;
    }
    .button__learn {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .main__sponsors img {
        height: 16px;
    }
}